asgiref==3.8.1
Django==5.1
gunicorn==23.0.0  # Optional, if deploying with Gunicorn
psycopg2==2.9.9  # Only necessary if using PostgreSQL, remove if using SQLite
sqlparse==0.5.1
whitenoise==6.7.0  # For serving static files
