asgiref==3.8.1
dj-database-url==2.2.0
Django==5.1
gunicorn==23.0.0
psycopg2==2.9.9
sqlparse==0.5.1

# Optional - useful for debugging and development
debugpy==1.8.5

# Frontend-related (optional, depending on your use of templates and styling)
Jinja2==3.1.4
