<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
</head>
<body class="body-wrap">
    <div class="container text-center">
        <h1>Password Reset Complete</h1>
        <p>Your password has been successfully reset. You can now log in with your new password.</p>
        <a href="{% url 'quiz:login' %}" class="button button-primary">Go to Login</a>
    </div>
</body>
</html>
