<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Profile of {{ user.username }}</h1>
    </header>
    <main>
        <p>Email: {{ user.email }}</p>
        <p>Joined on: {{ user.date_joined }}</p>
    </main>
    <footer>
        <a href="{% url 'user_home' %}" class="btn">Back to Home</a>
    </footer>
</body>
</html>
