<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
</head>
<body class="body-wrap">
    <div class="container text-center">
        <header>
            <h1>Profile of {{ user.username }}</h1>
        </header>
        <main class="mt-24">
            <p>Email: {{ user.email }}</p>
            <p>Joined on: {{ user.date_joined }}</p>
        </main>
        <footer class="mt-40">
            <a href="{% url 'quiz:user_home' %}" class="button button-primary">Back to Home</a>
        </footer>
    </div>
</body>
</html>
