<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
</head>
<body class="body-wrap">
    <div class="container text-center">
        <h1>Quiz</h1>

        <!-- Timer -->
        <div id="timer" class="mt-16">Time left: 30 seconds (Frozen)</div>

        <!-- Display one question at a time -->
        <form id="quizForm" method="post" class="mt-24">
            {% csrf_token %}
            <input type="hidden" name="question_id" value="{{ current_question.id }}">
            
            <div class="mb-16">
                <p>{{ current_question.text }}</p>
                <input type="radio" name="question_{{ current_question.id }}" value="True"> True
                <input type="radio" name="question_{{ current_question.id }}" value="False"> False
            </div>
        
            <!-- Navigation buttons -->
            <div class="button-container">
                {% if current_question_index > 0 %}
                    <button type="submit" name="previous" class="button button-secondary">Previous</button>
                {% endif %}
        
                {% if not is_last_question %}
                    <button type="submit" name="next" class="button button-primary">Next</button>
                {% else %}
                    <button type="submit" name="submit" class="button button-primary">Submit</button>
                {% endif %}
            </div>
        </form>
        

        <footer class="mt-40">
            <div class="user-info">
                <p>Logged in as: {{ user.username }}</p>
                <a href="{% url 'quiz:logout' %}" class="button-sm">Logout</a>
                <a href="{% url 'quiz:user_home' %}" class="button button-primary">Back to User Home</a>
            </div>
        </footer>
    </div>
</body>
</html>
