<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
</head>
<body class="body-wrap">
    <div class="container text-center">
        <h1>Quiz</h1>
        <div id="timer" class="mt-16">Time left: 30 seconds (Frozen)</div>
        
        <form id="quizForm" method="post" class="mt-24">
            {% csrf_token %}
            {% for question in questions %}
                <div class="mb-16">
                    <p>{{ question.text }}</p>
                    <input type="radio" name="question_{{ question.id }}" value="True"> True
                    <input type="radio" name="question_{{ question.id }}" value="False"> False
                </div>
            {% endfor %}
            <button type="submit" class="button button-primary">Submit</button>
        </form>

        <footer class="mt-40">
            <div class="user-info">
                <p>Logged in as: {{ user.username }}</p>
                <a href="{% url 'quiz:logout' %}" class="button-sm">Logout</a>
                <a href="{% url 'quiz:user_home' %}" class="button button-primary">Back to User Home</a>
            </div>
        </footer>
    </div>
</body>
</html>
