<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/css/styles.css' %}">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form method="POST" class="register-form">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password1" placeholder="Password" required>
                <input type="password" name="password2" placeholder="Confirm Password" required>
                <input type="email" name="email" placeholder="Email address" required>
                <button type="submit">Create</button>
                <p class="message">Already registered? <a href="{% url 'quiz:login' %}">Sign In</a></p>
            </form>
        </div>
    </div>
</body>
</html>
